<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681677349823-voknjs65draocigqbstos38bs681uh4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681677349823-voknjs65draocigqbstos38bs681uh4o</string>
	<key>API_KEY</key>
	<string>AIzaSyAcC4efmVeHRfKPCDbER4zVLgn7REr8A9I</string>
	<key>GCM_SENDER_ID</key>
	<string>681677349823</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sako.TypeTest</string>
	<key>PROJECT_ID</key>
	<string>typetest-e9458</string>
	<key>STORAGE_BUCKET</key>
	<string>typetest-e9458.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681677349823:ios:ed144dc844618e1386f70a</string>
</dict>
</plist>